Arsen, Oganisyan <a.oganisyan@oth-aw.de>
Arina, Antskaitis <a.antskaitis@oth-aw.de>
Benedikt, Niedernhuber <b.niedernhuber@oth-aw.de>
Eni, Veshi <e.veshi@oth-aw.de>
Etem, Karao <e.karao@oth-aw.de>
Kevin, Kraus <k.kraus@oth-aw.de>
Manuel, Bodner <m.bodner@oth-aw.de>